<script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"
></script>
<div class="container">
  <div class="d-grid gap-2 mb-3">
    <button onclick="location.href='reviews/write'" class="btn btn-primary" type="button">리뷰 작성</button>
  </div>

  <div>
    <% for (var i = 0; i < data.length ; i++) { %>
    <ul style="padding-left: 0">
      <div class="card border-secondary border-2 mb-1" style="cursor: pointer">
        <div class="d-flex">
          <div class="p-2 flex-shrink-1">
            <img class="img-fluid rounded-start preview_image" src="https://placeimg.com/100/100/any" />
          </div>
          <div class="p-2 w-100">
            <div class="card-body">
              <h5 class="card-title">작성자 <%- JSON.stringify(data[i].orderId) %></h5>
              <p class="card-text"><%- JSON.stringify(data[i].content) %></p>
              <% if (locals.userInfo.id == data[i].orderId ) { %>
              <button
                onclick="location.href='reviews/write'"
                class="btn btn-primary update"
                type="button"
                data-id="<%= data[i].orderId %>"
              >
                수정
              </button>
              <button
                onclick="location.href='reviews/delete'"
                class="btn btn-primary delete"
                type="button"
                data-id="<%= data[i].orderId %>"
              >
                삭제
              </button>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </ul>
    <% } %> <%- include('./pagination') %>
  </div>
</div>

<script>
  $('.delete').click(function (e) {
    var deletebutton = e.target.dataset.id;
    $.ajax({
      method: 'DELETE',
      url: 'reviews/delete',
      data: { orderId: deletebutton },
    }).done(function (result) {});
  });

  $('.update').click(function (e) {
    //.update 아직 구현 안됨...update 아직 구현 안됨...update 아직 구현 안됨...update 아직 구현 안됨...update 아직 구현 안됨...update 아직 구현 안됨..
    var updatebutton = e.target.dataset.id;
    $.ajax({
      method: 'PATCH',
      url: 'reviews/update',
      data: { orderId: updatebutton },
    }).done(function (result) {});
  });
</script>
